.input-border {
    border-radius: 30px;
}

.icon {
    min-width: 50px;
}

.sub-nav-color {
    background-color: lightgrey;
}

.text-card-description {
    font-size: 1.7em;
}

.body-background {
    background-color: rgb(201, 200, 200);
}


.f-poiretOne{
font-family: 'Poiret One', cursive;
}

.f-genos{
    font-family: 'genos', sans-serif;
}

.fs-green{
    color: #4B5C35;
}
.bg-green{
    background-color: #4B5C35;
}

.border-green{
    border-color: #4B5C35;
}


.car-h{
    height: 500px;
}

.prix{
    color: #4B5C35;
    font-size: 4em;
}

.fs-h1{
    font-size: 4em;
}

.bg-image-connexion{
    background-image: url(../medias/background/bg-cam-connexion.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.flouter-img{
    
}
.imageHover{
    transition: all 0.1s ease;

}
.imageHover:hover{
    transform: scale(1.05);
}
.rupture{
    filter: blur(2px);
}