.input-border {
    border-radius: 30px;
}

.font-family-messiri {
    font-family: 'El Messiri', sans-serif;
}

.icon {
    min-width: 50px;
}

.icon:hover {
    color: blue;
}

.sub-nav-color {
    background-color: lightgrey;
}

.text-card-description {
    font-size: 1.7em;
}

.body-background {
    background-color: rgb(201, 200, 200);
}

.link-text {
    font-size: 1.4em;
}

.background-dark {
    background-color: rgb(0, 0, 0);
}

.stroke {
    text-decoration: line-through
}

.checked {
    color: orange;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.f-poiretOne{
font-family: 'Poiret One', cursive;
}

.f-genos{
    font-family: 'genos', sans-serif;
}

.list-none{
    list-style: none;
    padding: 0px;
}

.fs-green{
    color: #4B5C35;
}
.bg-green{
    background-color: #4B5C35;
}

.border-green{
    border-color: #4B5C35;
}

.over-star:hover{
    color: gold;
}

.car-h{
    height: 500px;
}

.prix{
    color: #4B5C35;
    font-size: 4em;
}

.fs-h1{
    font-size: 4em;
}

.bg-image-connexion{
    background-image: url(../medias/background/bg-cam-connexion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


