.input-border{
    border-radius: 30px;
}

.font-family-messiri{
    font-family: 'El Messiri', sans-serif;;
}

.icon{
    min-width: 50px;
}

.icon:hover{
    color: blue;
}

.sub-nav-color{
    background-color: lightgrey;
}

.text-card-description{
    font-size: 1.7em;
}

.body-background{
    background-color: rgb(201, 200, 200);
}

.link-text{
    font-size: 1.4em;
}

.background-dark{
    background-color: rgb(0, 0, 0);
}