$component-active-bg: #4B5C35;
$form-check-radio-border-radius: 0%;
$accordion-button-active-color: #000;
$blue: #4B5C35;
$position-values: (
  0: 0,
  25:25%,
  50: 50%,
  75: 75%,
  100: 100%
) ;
@import"scss/bootstrap";