.f-poiretone{
    font-family: 'Poiret One', cursive;
}
.f-elmissiri{
    font-family: 'El Messiri', sans-serif;
}
.w-25{
    width: 20%;
}
.i-size{
    width: 30px;
    height: 30px;
}

.space-between{
    justify-content: space-between;
}

input.green{
    border-color: #4B5C35;
    background-color: #EDEDED;
}

.test{
    display: none;
}